@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'travels';
    src: url('../assets/fonts/TT\ Travels\ Next\ Trial\ Bold.ttf');
}
@font-face {
    font-family: 'travels-regular';
    src: url('../assets/fonts/TT\ Travels\ Next\ Trial\ Regular.ttf');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
.two-dog {
    display: flex;
    align-items: center;
}

.two-dog img {
    width: 50vw; 
    height: 50vh; 
    object-fit: cover;
    margin: 0px; 
    padding-top: 20px;
}

.footer {
    background-color: #1A1100; 
    padding: 50px;
    color: #F4E7DD;
    font-family: 'travels'; 
}

.footer-content {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-name {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.footer-social {
    display: flex;
    justify-content: left; 
    margin-bottom: 10px;
    gap: 1rem;
    margin-top: 1rem;
}

.footer-social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.8rem; 
    height: 1.8rem; 
    border-radius: 50%; 
    background-color: #D3A178; 
    color: #F4E7DD; 
    font-size: 1.5em; 
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.footer-social a:hover {
    background-color: #b57a5e; 
    color: #ffffff; 
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
}

.footer-links-right {
    text-align: right;
}

.footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.footer-creation {
    display: block;
    font-size: 1.5rem;
}
.footer-together{
    font-size: 1.5rem;
}

.footer-button {
    background-color: #D3A178;
    margin-top: 0.8rem;
    color: #140E09;
    padding: 10px 20px;
    font: inherit; 
    cursor: pointer;
}

.footer-button:hover {
    background-color: #b57a5e; 
}

.footer-text {
    margin-bottom: 10px;
    margin-top: 3rem;
    text-align: center; 
}

.footer-exclude-font {
    font-size: 1rem;
    font-family: 'travels-regular';
}

.testimonial {
    padding: 25px;
    border: 2px solid #D3A178;
    border-radius: 16px;
    background-color: #493526;
    width: 100%; 
    max-width: 500px;
    margin: 20px;
    color: #F4E7DD;
    flex-direction: column;
    min-height: 13rem;
    max-height: 13rem;
    justify-items: center;
    text-align: left;
}
.testimonial-page {
    position: relative;
    background-color: none;
    height: 665px;
    gap: 10px; 
}
.testimonial-header{
    color: #F4E7DD;
    text-align: center;
    font-size: 3.75rem;
    padding-top: 50px;
    
}
.border {
    width: 250px;
    height: 5px;
    background-color: #D3A178;
    margin: 8px auto;
    border: none;
    
}

.testimonial-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.testimonial-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid #D3A178;
}

.testimonial-details {
    display: flex;
    flex-direction: column;
}

.testimonial-name {
    font-weight: bold;
    margin: 0;
    color: #F4E7DD;
}

.testimonial-role {
    color: #D3A178;
    font-size: 16px;
    margin: 0;
}

.testimonial-text {
    line-height: 1.4; 
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
}

.testimonial-container {
    position: relative;
    transition: transform 1s ease-in-out;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.slide-in {
    transform: translateX(100%);
    animation: slideIn 0.5s forwards;
  }

  .fixed {
    transform: translateX(0%);
}
  
  .slide-out {
    transform: translateX(-100%);
    animation: slideOut 0.5s forwards;
  }
  @keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.testimonial-container.animating {
    opacity: 1;
}
.container {
    display: flex;
    padding-left: 150px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}
 
  .dots {
    display: flex;
    gap: 8px;
    margin: 0 16px;
  }
  
  .dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #D9D9D9;
    display: inline-block;
  }
  
  .dot.active {
    background-color: #D3A178;
  }
  
  .button {
    background-color: transparent;
    border: 1px solid #F4E7DD;
    padding: 4px;
    gap: 8px;
    border-radius: 46px;
    cursor: pointer;
    width: 36px;
    height: 36px;
    color: #F4E7DD;
    
  }
  
  .button:hover {
    background-color: #d5a885;
  }